.product{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  text-align: center;
  padding: 1%;
}
.src-nav{
  margin-left: 3%;
}
.bg {
/* animation:slide 3s ease-in-out infinite alternate; */
/* background-image: linear-gradient(-60deg, #bcbdcfc0 50%, #fdfdfd 50%); */
background-image: url(../ASSETS/dark-gray-09.jpg);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}
.my-nav{
  background-color: #eebd1c;
}
.my-body{
  height: 100vh;
}
.top-icon{
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}
.linky{
  color: aliceblue;
}

/* .sec-cont{
padding-top: 5%; 
} */
/*.menu-bg :hover{*/
/*  background-color: rgba(8, 59, 124, 0.384);*/
/*}*/
.b-content{
  position: absolute;
  left: 50%;
  top: 50%;
  padding-top: 5%;
  margin-top: 3%;
  transform: translate(-50%, -50%);
  background-color: #3132349d;
  color: aliceblue;
  max-width: 90%;
  padding: 5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Secular One', sans-serif;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:20s;
}
.jdk-download{
  padding-top: 4%;
}
.content {
  background-color:rgba(3, 20, 46, 0.253);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  margin-top: 5%;
  color: aliceblue;
  position:fixed;
  text-align:center;
  top:50%;
  width: 70vw;
  height: 70vh;
  transform:translate(-50%, -50%);
}
.b-content p{
  text-align: center;
  font-size: 1.2em;
}
input{
background: #1c8612;
color: rgb(236, 234, 234);
border: 1px solid rgb(119, 117, 117);
border-radius: 5px;
text-shadow: none;
width: 30vh;
height: 8vh;
text-align: center;
margin-top: 4%;
font-size: 1.4em;
} 

input :hover{
  background: #ba910b;
}
h1 {
  font-family:monospace;
}
.b-content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.bg_color{
  background-color: #1b1b41b9;
}

